body {
    color: #0191b4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.myContainer {
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #8A8C83;
    border-radius: 0.45rem;
    padding: 30px 10px 20px 30px;
    color: #0191b4;
    background: linear-gradient(#fae34d, #83def5);
    background: #f7eba1;
    background: #fffbc5;
    background: linear-gradient(#fffbc5, #83def5);
}

.weather-details {
    font-size: 20px;
    min-width: 43%;
    padding-left: 5px;
    padding-top: 40px;  
    padding-bottom: 30px;
}

#city-name {
    font-size: xx-large;
}
ul{
    padding:0px;
}

li{
    list-style: none;
}

#weather-img{
    height: 94px;
    width: 94px;
    margin-right:10px;
 }

.mainTemp{
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}

 .units {
    position: relative;
    font-size: 16px;
    top: -32px;
}

a{
    color: #EC6E4C;
}
 .active{
    color: #0191b4;
    cursor:default;
}

 .active:hover{
    text-decoration: none;
}

#weather-more-details {    
    font-weight: normal;
    font-size: medium;
    float: right;
    line-height: 20px;
    min-width: 43%;
    padding-left: 50px;
    padding-top: 2px;
}

h2 {
    padding-top: 40px;
    font-weight: lighter;
}

#forecast {
    padding-left: 5px;
    padding-top: 20px;
    font-size: larger;
    font-weight: normal;
    transform: translate3d(0px, 0px, 0px);
}

.icon {
    font-size: x-large;
    font-weight: lighter;
}

footer {
    font-size: small;
    color: #60615b;
    text-align: center;
}
